# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
.env
*.db
*.sqlite3

# pytest
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# package
*.egg-info/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Images for testing
*.jpg

# Jupyter Notebook
.ipynb_checkpoints
_notebook.py

# SDK Docs
docs/_sdk_docs/
*sdk*.txt

# logs
logs/
*.log
*.gz
*.tar
*.zip
*.rar
*.7z
*.xz
*.zst
*.lz4
*.lzma

# JSON files data
*.json

.pytest_cache/
.claudesync/

*.egg-info/
.cursorignore
