# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
.venv/
venv/
ENV/
.env
*.db
*.sqlite3

# package
*.egg-info/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Images for testing
*.jpg

# Jupyter Notebook
.ipynb_checkpoints
_notebook.py

# SDK Docs
docs/_sdk_docs/
*sdk*.txt

# logs
*.log

